h1{
    text-align: center;
    font-weight: 800;
    font-family: serif;
}
div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(176, 172, 172);
    padding-bottom:100px ;
    box-sizing: border-box;
    width: auto;
    height: auto;
}
#tw{
    text-align: center;
    border: 1px solid gray;
    width: 400px;
    padding-bottom: 7px;
    border-radius: 15px;
    background-color: white;

}
div>h2{
    font-weight: 800;
    font-family: serif;
}
div>p{
    color: grey;
}
div>p.one{
    color: red;
    font-weight: 700;
}
div>button{
    
    background-color: blue;
    color: white;
    border: 0px solid white;
    border-radius: 2px;
    width: 100px;
    padding: 7px;
}